main{
    margin-top: 3rem;
    margin-left:5rem;
    margin-right: 5rem;
}

p{
    margin-top: 1rem;
    font-size: 1.1rem;
    color: var(--secondary-color);
    padding-left: 1rem;
    padding-right: 1rem;
}
.header{
    font-size: 3rem;
    text-align: left;
    margin-top: 2rem;
    padding-left: 1rem;
    padding-right: 1rem;
    color: var(--secondary-color);
}

.article-content{
    margin-top:2rem;

}

#article-video{
    display: block;
    margin: auto;
    margin-top: 2rem;
    justify-content: center;
}

#referinta{
    display: flex;
    margin-left: 2rem;
    overflow-x: hidden;
}

.ref-text{
    margin-left: 1rem;
    margin-right: 1rem;
    overflow-x: hidden;
}

.vertical{
    border-left: 2px solid var(--secondary-color);
    height: 2rem;
    position: absolute;
    top: 1.5rem;
}

@media screen and (max-width: 500px) {
    .header{
        font-size: 1.5rem;
        text-align: left;
        margin-top: 2rem;
        padding-left: 1rem;
        padding-right: 0rem;
        color: var(--secondary-color);
    }

    .main:not(#article-video) {
       margin-left:1rem;
       margin-right:1rem;
       z-index:0;
    }
}
