main{
    margin-top: 3rem;
    margin-left:5rem;
    margin-right: 5rem;
}

p{
    margin-top: 2rem;
    margin-bottom: 2rem;
    font-size: 1.1rem;
    color: var(--secondary-color);
    padding-left: 10rem;
    padding-right: 10rem;
}
.header{
    font-size: 3rem;
    text-align: left;
    margin-top: 2rem;
    padding-left: 8rem;
    padding-right: 8rem;
    color: var(--secondary-color);
}

.header2{
    font-size: 2rem;
    text-align: left;
    margin-top: 2rem;
    padding-left: 8rem;
    padding-right: 8rem;
    color: var(--secondary-color);
}

.article-content{
    margin-top:2rem;

}

#article-video{
    display: block;
    margin: auto;
    margin-top: 2rem;
    justify-content: center;
}

#referinta{
    display: flex;
    margin-left: 2rem;
    overflow-x: hidden;
}

.ref-text{
    margin-left: 1rem;
    margin-right: 1rem;
    overflow-x: hidden;
}

.vertical{
    border-left: 2px solid var(--secondary-color);
    height: 2rem;
    position: absolute;
    top: 1.5rem;
}

#poza1{
    width: 60vw;
    height: 80vh;
    display: block;
    margin: auto;
    border-radius: 20px;
    margin-top: 2rem;
}

#poza2{
        width: 40vw;
        height: 50vh;
        display: block;
        margin: auto;
        border-radius: 20px;
        margin-top: 1rem;
}

#poza3{
    width: 60vw;
    height: 60vh;
    display: block;
    margin: auto;
    border-radius: 20px;
    margin-top: 1rem;
}

#poza4{
    margin-top: 2rem;
    display: block;
    margin: auto;
    border-radius: 20px;
    width: 70vw;
    height: 40vh;
}

#poza5{
    display: block;
    margin: auto;
    width: 70vw;
    border-radius: 20px;
}

#poza6{
    display: block;
    margin: auto;
    border-radius: 20px;
    width: 60vw;
    height: 80vh;
}

#poza7{
    display: block;
    margin: auto;
    width: 50vw;
    height: 80vh;
    border-radius: 20px;
}

#poza8{
    display: block;
    margin: auto;
    border-radius: 20px;
}

.rect{
    display: grid;
    grid-template-columns: auto auto;
    width:25rem;
    height: 25rem;
    margin-top: 2rem;
    border-radius: 20px;
    overflow-y: hidden;

}

#r1p,#r2p,#r3p,#r4p{
    display: none;
    margin: auto;
    line-height: 1rem;
    color: aliceblue;
    font-size: 1em;
    width: 100%;
    margin: 0;
    padding: 0;
    text-align: center;
}

.rect:hover{
    background-color: rgba(0, 0, 7, 0.829);
    overflow-y: hidden;
    z-index: 0;

}


#s1p{
    display: block;
    margin: auto;
    border-radius: 20px;
    width:25rem;
    height: 25rem;
}

#s2p{
    display: block;
    margin: auto;

    border-radius: 20px;
    width:25rem;
    height: 25rem;
}

#s3p{
    display: block;
    margin: auto;
    z-index: 0;
    border-radius: 20px;
    width:25rem;
    height: 25rem;
}

#s4p{
    display: block;
    margin: auto;
    z-index: 0;
    border-radius: 20px;
    width:25rem;
    height: 25rem;
}

#s1p:hover{
    filter: blur(5px);
    color: brown;
    background-color: blue;
}

@media screen and (max-width: 500px) {
    
    .header{
        font-size: 1.5rem;
        text-align: left;
        margin-top: 2rem;
        padding-left: 1rem;
        padding-right: 0rem;
        color: var(--secondary-color);
    }

    .header2{
        font-size: 1.5rem;
        text-align: left;
        margin-top: 2rem;
        padding-left: 1rem;
        padding-right: 0rem;
        color: var(--secondary-color);
    }

    p{
        padding: 1rem 0rem 0rem 1rem;
        margin: 0;
        margin-right: 1rem;
    }

    .main {
       margin-left:0rem;
       margin-right:0rem;
       z-index:0;
       width: 100vw;
    }

    
    
    #poza1{
        width: 90vw;
        height: 30vh;
        display: block;
        margin: auto;
        border-radius: 20px;
        margin-top: 2rem;
    }

    #poza2{
        width: 90vw;
        height: 40vh;
        display: block;
        margin: auto;
        border-radius: 20px;
        margin-top: 1rem;
    }


    #poza3{
        width: 90vw;
        height: 30vh;
        display: block;
        margin: auto;
        border-radius: 20px;
        margin-top: 1rem;
    }

    #poza4{
        width: 90vw;
        height: 20vh;
        display: block;
        margin: auto;
        border-radius: 20px;
        margin-top: 1rem;
    }

    #poza5{
        width: 90vw;
        height: 20vh;
        display: block;
        margin: auto;
        border-radius: 20px;
        margin-top: 1rem;
    }

    #poza6{
        width: 90vw;
        height: 40vh;
        display: block;
        margin: auto;
        border-radius: 20px;
        margin-top: 0rem;
    }

    #poza7{
        width: 90vw;
        height: 40vh;
        display: block;
        margin: auto;
        border-radius: 20px;
        margin-top: 1rem;
    }

    #poza8{
        width: 90vw;
        height: 30vh;
        display: block;
        margin: auto;
        border-radius: 20px;
        margin-top: 1rem;
    }


    .grid{
        display: grid;
        grid-template-columns: auto;
        text-align: left;
        gap: 5rem;
    }

    .rect{
        width: 20rem;
        height: 20rem;
        margin-left: 7vw;
        margin-top: 2rem;
    }
    .rect:not(:first-child){
        margin-top: -10px;
    }

    #s1p{
        display: block;
        margin: auto;
        width: 20rem;
        height: 20rem;
        
    }

    

}
